<%= stylesheet_link_tag "login.css" %>
<form class="form-signin">
	<h1 class="h3 mb-3 font-weight-normal">GUILD</h1>
	<%= link_to 'Login', {controller: 'sessions', action: 'new'}, class:"btn btn-lg btn-success btn-block"%>
	<%= link_to 'Register', {controller: 'users', action: 'new'}, class:"btn btn-lg btn-warning btn-block"%>
	<p class="mt-5 mb-3 text-muted">log101 - 2019</p>
</form>
